---
- name: Sample Linux ping playbook
  hosts: winservers
  gather_facts: no
  vars:
    backup_target: "C:\\temp"
  tasks:
    - name: Install Windows Server Backup feature
      win_feature:
        name: Windows-Server-Backup
        state: present
      register: win_feature
    - name: taking BMR backup
      win_command:  wbadmin start backup -backupTarget:"{{ backup_target }}" -allCritical -quiet
      register: pwsh_output
      when: win_feature.changed
      
